body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.nav-link,
.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.custom-container {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.first-section p,
form {
  padding-right: 19rem;
}

.first-section h1 {
  padding-right: 15rem;
  line-height: 4rem;
}

.second-section {
  background-color: #f8f8fe;
}
.second-section .avatar img {
  width: 3rem;
  border-radius: 100%;
}
.second-section h5 {
  font-size: 1rem;
}
.second-section h6 {
  font-size: 0.7rem;
}
.second-section .custom-link {
  text-decoration: none;
  border-bottom: 1px dotted #3da08f;
}
.second-section .custom-link img {
  width: 1.3rem;
}
.third-section {
  background-color: hsl(238, 22%, 44%);
}
.third-section {
  height: 350px;
}
